In [ ]:
import pandas as pd

In [ ]:
# read 'IMDb movies.csv' and 'IMDb ratings.csv'
df_movies = pd.read_csv('IMDb movies.csv', low_memory=False)
df_ratings = pd.read_csv('IMDb ratings.csv')

In [ ]:
# select columns
df_movies = df_movies[['imdb_title_id', 'title', 'year',
                       'genre', 'country']]

df_ratings = df_ratings[['imdb_title_id', 'total_votes', 'mean_vote']]

# merge()

## Inner join

In [ ]:
# merge df_movies and df_ratings (inner join)

## Outer join (Full join)

In [ ]:
# merge df_movies and df_ratings (outer join)

## Exclusive Outer join (Exclusive Full join)

In [ ]:
# merge df_movies and df_ratings (Exclusive Full join)

##  Left join

In [ ]:
# extract a 50% sample of the df_movies dataframe

In [ ]:
# merge df_movies_sample and df_ratings (left join)

## Exclusive Left join

In [ ]:
# make a copy of the df_movies dataframe

In [ ]:
# set the first 1000 values of 'imdb_title_id' column as 'tt1234567890'

In [ ]:
# merge df_movies_2 and df_ratings (exclusive left join)

## Right join

In [ ]:
# extract a 30% sample of the df_ratings dataframe

In [ ]:
# merge df_movies and df_ratings_sample (right join)

## Exclusive Right join

In [ ]:
# make a copy of the df_ratings dataframe

In [ ]:
# set the first 1000 values of 'imdb_title_id' column as 'tt1234567890'

In [ ]:
# merge df_movies and df_ratings_2 (exclusive right join)